[
{
  System: "systemUnderTest",
  SystemFile: "Scripts/systemUnderTest.js",
  
  Descriptions: [{
    File: "Scripts/systemUnderTest.Specs.js",
    Cases: [
      {}
    ]
  }]
},
{
  System: "otherSystemUnderTest",
  SystemFile: "Scripts/otherSystemUnderTest.js",
  
  Descriptions: [{
    File: "Scripts/otherSystemUnderTest.Specs.js",
    Cases: [
      {}
    ]
  }]
}
]