div#designbanner table td
{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}
div#designbanner
{
	background-color: #FFFFCC; 
	padding-top: 4px; 
	padding-bottom: 2px; 
	padding-left: 4px; 
	padding-right: 1px; 
	border-bottom: 1px solid #808080; 
	color: black; 
	margin-left: 0px;
}	
div#designbanner table td.designbannertext
{
	width: 100%;
	font-size: 8pt;
	color: black;
	padding-left: 1px;
}
div#designbanner table td.designbannericon
{
	padding-top: 0;
	margin-top: 0;
}