<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Machine.Specifications" version="0.5.2.0" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.7" targetFramework="net40" />
  <package id="NUnit" version="2.5.10.11092" targetFramework="net40" />
  <package id="SignalR" version="0.5.3" targetFramework="net40" />
  <package id="SignalR.Hosting.AspNet" version="0.5.3" targetFramework="net40" />
  <package id="SignalR.Hosting.Common" version="0.5.3" targetFramework="net40" />
  <package id="SignalR.Server" version="0.5.3" targetFramework="net40" />
</packages>