@{
    Layout = "~/Features/Shared/_Layout.cshtml";
}<a href="../Bifrost.AdministrationTestPage.aspx" target="_blank">Bifrost Tool</a>
<br />
@Html.ActionLink("Administration", "Index", new { controller = "Users", area = "Administration" })
<br />
