<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentNHibernate" version="2.0.1.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.9.1" targetFramework="net45" />
  <package id="Machine.Specifications.Should" version="0.7.2" targetFramework="net45" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net45" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net45" />
</packages>