<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" targetFramework="sl50" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="sl50" />
  <package id="SignalR.Client.Silverlight5" version="0.5.3" targetFramework="sl50" />
  <package id="System.Threading.Tasks" version="3.0.1" targetFramework="sl50" />
</packages>