@import url(http://weloveiconfonts.com/api/?family=entypo);

/* line 1, ../scss/_translucent.scss */

.content {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* Not covered by autoprefixer... */
  -webkit-flow-into: content;
  flow-into: content;
  overflow-y: auto;
}

/* line 16, ../scss/_translucent.scss */

.blurred__background,
.phone__content {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  overflow: hidden;
  /* Not covered by autoprefixer... */
  -webkit-flow-from: content;
  flow-from: content;
}

/* entypo */

/* line 4, ../scss/_common.scss */

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* line 8, ../scss/_common.scss */

.messages {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

/* line 14, ../scss/_common.scss */

.messages li {
  display: block;
  float: left;
  clear: both;
  max-width: 60%;
  margin: 0 0 1em 0;
  padding: 0;
}

/* line 23, ../scss/_common.scss */

.messages li:nth-child(even) {
  float: right;
}

/* line 27, ../scss/_common.scss */

.messages li:nth-child(even) img {
  float: right;
}

/* line 31, ../scss/_common.scss */

.messages p {
  border-radius: .75em;
  background: #e6e5eb;
  color: #383641;
  padding: .6875em;
  margin: 0;
  font-size: .875em;
}

/* line 40, ../scss/_common.scss */

.messages li:nth-child(even) p {
  background: #158ffe;
  color: #fff;
}

/* line 45, ../scss/_common.scss */

.messages img {
  display: block;
  max-width: 65%;
  border-radius: .75rem;
}

/* line 52, ../scss/_common.scss */

body {
  font-family: "Helvetica Neue","Helvetica","sans-serif";
}

/* line 56, ../scss/_common.scss */

.custom {
  position: absolute;
  top: 10px;
}

/* line 60, ../scss/_common.scss */

.custom style {
  display: block;
  white-space: pre;
}

/* line 8, ../scss/mobile.scss */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 16, ../scss/mobile.scss */

.content {
  padding: 1em 1em 0 1em;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 24, ../scss/mobile.scss */

.blurred {
  position: relative;
  height: 60px;
}

/* line 29, ../scss/mobile.scss */

.blurred__background,
.header__text,
.footer__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: inherit;
}

/* line 35, ../scss/mobile.scss */

.blurred__background {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  opacity: .2;
}

/* line 44, ../scss/mobile.scss */

.header:before,
.header:after {
  position: absolute;
  content: '';
  width: 100%;
  z-index: 1;
}

/* line 51, ../scss/mobile.scss */

.header:before {
  height: 100%;
}

/* line 55, ../scss/mobile.scss */

.header:after {
  height: 1px;
  bottom: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* line 62, ../scss/mobile.scss */

.header__text {
  font-weight: 300;
  text-align: center;
  line-height: 60px;
  z-index: 4;
}

/* line 72, ../scss/mobile.scss */

.footer {
  height: 45px;
}

/* line 76, ../scss/mobile.scss */

.footer:before,
.footer:after {
  position: absolute;
  content: '';
  width: 100%;
  z-index: 1;
}

/* line 83, ../scss/mobile.scss */

.footer:before {
  height: 100%;
}

/* line 87, ../scss/mobile.scss */

.footer:after {
  height: 1px;
  top: 0;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

/* line 94, ../scss/mobile.scss */

.footer__container {
  list-style: none;
  margin: 0 1.2em;
  padding: 0;
  letter-spacing: 1.5em;
}

/* line 100, ../scss/mobile.scss */

.footer__container > li {
  display: inline-block;
  line-height: 45px;
  font-size: 1.5em;
}

/* line 105, ../scss/mobile.scss */

.footer__container .spacer {
  width: .22em;
}

/* line 110, ../scss/mobile.scss */

.phone__content {
  height: -webkit-calc(100% - 45px - 60px);
  height: calc(100% - 45px - 60px);
}

/* line 115, ../scss/mobile.scss */

.wrapper {
  height: 100%;
}