<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="MvvmLight" version="4.1.23.0" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="sl50" />
  <package id="Ninject" version="2.2.1.4" />
  <package id="SilverlightToolkit-All" version="4.2010.4" />
  <package id="SilverlightToolkit-Core" version="4.2010.4" />
  <package id="SilverlightToolkit-Data" version="4.2010.4" />
  <package id="SilverlightToolkit-DataViz" version="4.2010.4" />
  <package id="SilverlightToolkit-Input" version="4.2010.4" />
  <package id="SilverlightToolkit-Layout" version="4.2010.4" />
  <package id="SilverlightToolkit-Theming" version="4.2010.4" />
</packages>