<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="BifrostConfig" type="Bifrost.Configuration.BifrostConfigHandler, Bifrost" />
  </configSections>
  <BifrostConfig>
    <DefaultStorage>
      <!--
      <NHibernate ConnectionString="Data Source=WebDBU01.norkom;Initial Catalog=Blog;User ID=blog;PWD=blog;Application Name=Bifrost.Blog;Enlist=true">
        <Maps>
          <Assembly Name="Bifrost.Samples.Blog.Views" />
        </Maps>
      </NHibernate>-->
      <!--<EmbeddedRavenDb DataDirectory="Data" />-->
      <MongoDb ConnectionString="mongodb://192.168.69.243" Database="Bifrost" />
    </DefaultStorage>
    <!--<Events RepositoryType="Bifrost.Events.EventRepository, Bifrost" />
    <Sagas LibrarianType="Bifrost.Web.Mvc.Sagas.SagaLibrarian, Bifrost.Web.Mvc" />-->
  </BifrostConfig>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>