<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="BifrostConfig" type="Bifrost.Configuration.BifrostConfigHandler, Bifrost" />
  </configSections>
  <BifrostConfig>
    <DefaultStorage>
      <!--
      <NHibernate ConnectionString="Data Source=WebDBU01.norkom;Initial Catalog=Blog;User ID=blog;PWD=blog;Application Name=Bifrost.Blog;Enlist=true">
        <Maps>
          <Assembly Name="Bifrost.Samples.Blog.Views" />
        </Maps>
      </NHibernate>-->
      <EmbeddedRavenDb DataDirectory="Data" />
      <!--<MongoDb ConnectionString="mongodb://10.0.1.18" Database="Bifrost" />-->
    </DefaultStorage>
    <!--<Events RepositoryType="Bifrost.Events.EventRepository, Bifrost" />
    <Sagas LibrarianType="Bifrost.Web.Mvc.Sagas.SagaLibrarian, Bifrost.Web.Mvc" />-->
  </BifrostConfig>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>