@using Bifrost.Sagas
@model IEnumerable<ISaga>
@{
	ViewBag.Title = "Comments moderation";
}Hello world
<ul>
	@foreach (var saga in Model)
 {
		<li>
			@{ var chapter = (dynamic)saga.Chapters.First(); }
			<table>
				<tr>
					<td>
						Author
					</td>
					<td>
						@chapter.Author
					</td>
				</tr>
				<tr>
					<td>
						Comment
					</td>
					<td>
						@chapter.Comment
					</td>
				</tr>
				<tr>
					<td>
						Occured
					</td>
					<td>
						@chapter.Occured.ToString()
					</td>
				</tr>
			</table>
			@Html.ActionLink("Approve", "Approve", "Comments", new { sagaId = saga.Id }, null)
		</li>
	
 }
</ul>
