#activityContainer 
{
  position: fixed;
  bottom: 60px;
  width: 100%;
}
#activityBar {
  height:55px;
  
  border: 0;
  margin: 0;
  padding-bottom: 20px;
  
  text-align: center;
  z-index: 5000;
}
#activityBar
{
    background-color: #495461;  
    color: #ffffff;    
}
#activityBar span
{
    left: 16px;
    display: block;
    top: 30px;
    position: relative;
    text-align: left;
}

#activityBar ul
{
    position: absolute;
    right:0px;
    float:right;
    margin-right:10px;
}
#activityBar li 
{
    height: 55px;
    list-style: none;
}
#activityBar .activityBarButton 
{
    display: inline-block;
    width:auto;
    cursor: pointer; 
    margin-right: 20px;
}

#activityBar .activityBarButton i {
    position: relative;
    top: 0px;
    font-size: 25px;
    color: white;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;

    display:block;
    width:30px;
    height:30px;
    border-radius:20px;
    border:2px solid white;
    font-size:20px;
    color:white;
    text-align:center;
    text-decoration:none;
    line-height: 27px;
    float:right;
}

#activityBar .activityBarButton div
{
    position:relative;
    float:left;
    text-align: right;
    vertical-align: center;
    top:9px;
    right:10px;
    width:auto;
    text-transform: uppercase;
}
