#applicationBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 0 3px;
  border: 0;
  margin: 0;
  text-align: center;
  z-index: 5000;
}
#applicationBar li {
   display: inline-block;
   position: relative;
   list-style: none;
}
#applicationBar {
  background: #3C454F;
  color: #ffffff;
  background-image: url(/Mimir/Images/applicationBarBackground.jpg);
  background-repeat: repeat-x
}
#applicationBar h1 {
  position: relative;
  top: -6px;
  font-size: 14px;
  font-weight: normal;
}
#applicationBar .applicationBarButton {
    display: inline-block;
    width: 60px;
    cursor: pointer; 
}

#applicationBar .applicationBarButton i {
  position: relative;
  top: 10px;
  font-size: 25px;
  color: white;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

#applicationBar .applicationBarButton span {
    position: relative;
    top: 10px;
    text-align: center;
}
