/* Red triangle markup for 'New' items */
td.NewLinkCell, td.NewMemberNameCell, td.NewMembersLinkCell, div.NewTopic
{
    background-image:url('../dotnetimages/isnew.gif')
}



/* Behaviors */
.UserDataStyle
{
    behavior:url(#default#userData);
}

div.SaveHistory
{
    behavior:url(#default#saveHistory);
    display:    none;
}


/* Community elements */
div.CommunityRatingContainer
{
    margin-top:		-3px;
    margin-right:	-10px;
    margin-bottom:	0;
}



/* Collapsible Headers */
span#DxToggleExpandedAll
{
    margin-right:   12px;    
}

span.DxExpandCollapse
{
    cursor:default;
}

.CollapsibleHeader
{
    color:			#250c58;
    font-family:	'Segoe UI', Verdana, Arial;
    font-size:		1.3em;
    font-weight:	bold;
}

img#DxToggleExpandedAllImage
{
    margin-left:    0;
    margin-right:	5px;
}

img.DxToggle, img#DxToggleSwitch
{
    border:			0;
    margin-right:	5px;
}



/* Copy Code */
img.CopyCodeImage
{
    border:			0;
    margin:			1;
    margin-right:	3px;
}

/* The copy code prompt span */
span.CopyCode
{
    color:			#0000ff;
    font-size:		80%;
    font-weight:	normal;
    cursor:			pointer;
    float:			right;
    display:		inline;
    text-align:		right;
}


/* Member Tables */

/* Formats the first column--the one that displays icons. */
div#mainSection table td.ImageCell
{
    white-space:    nowrap;
    width:          18px;
    padding-left:   1px;
    padding-right:  1px;
    vertical-align: top;
}

td.LinkCell
{
    white-space:    nowrap;
    vertical-align: top;
}

td.MembersLinkCell
{
    white-space:    nowrap;
    width:          30%;
    vertical-align: top;
}

td.MembersDescriptionCell, td.DescriptionCell
{
    width:          70%;
}

td.NewLinkCell, td.NewMemberNameCell, td.NewMembersLinkCell, div.NewTopic, td.NewCentered
{
    background-repeat:      no-repeat; 
    background-position:    left top ; 
    vertical-align:			top;
}



/* Syntax Sections */
div#PageBody table.SyntaxTable th, div#PageBody table.XmlSource th
{
    padding-top:    1px;
    padding-bottom: 1px;
    vertical-align: middle;
}

div#PageBody table.SyntaxTable td, div#PageBody table.XmlSource td
{
    font-family:    Monospace, Courier New, Courier;
    color:          #000066;
    padding-top:    5px;
    padding-bottom: 7px;
    font-size:      .9em;    
    border-bottom:  1px solid #C8CDDE;
}

DIV.OH_outerContent DIV#mainSection table.SyntaxTable, DIV.OH_outerContent DIV#mainSection table.FilteredItemListTable
{
	width: auto;
}

DIV.OH_outerContent div#syntaxSection table th.SyntaxTitleCell
{
    width:          90%;   
    border-right-width:   0px;
}

DIV.OH_outerContent div#syntaxSection table th.SyntaxCopyCodeCell
{
    width:          10%;
    white-space:    nowrap;
    border-left-width:	0px;
}

div#mainSection table.CodeContainerTable
{
    margin:     0;
}

div#mainSection table.CodeContainerTable td
{
    border:     none;
}

code
{
    font-family:    Monospace, Courier New, Courier;
    color:      #0000EE;
}



/* Language Filter */
img#LanguageFilterImage, img#MembersFilterImage
{
    border:     0;
    margin-left:    5px;
    margin-right:   5px;
}

.LanguageFilter, .MembersFilter
{
    color:				#0000FF;
    cursor:				hand;
    text-decoration:	underline;
    padding-bottom:		4;
    font-size:			8pt;
}

span#LanguageFilterToolTip
{
    margin-right:		10px;        
}



/* Members Filter */
span#MembersFilter
{
    margin-right: 16;
}

img#MembersOptionsFilterImage
{
    border:			0;
    margin-left:    10;
}



/* Popup Menus */
div.DxPopupBubble
{
    left:       4px;
    position:   absolute;
    padding:    4px 8px 5px 4px;
    z-index:    1;
    width:      50%;
    visibility: hidden;
    border:     1px solid #999999;
    background:	#F0F0F0;
    font-size:  90%;
    width:		auto;
    margin-top: 4px;
}



/* Object Model Section */
div#ObjectModelSection table td
{
    background-color:   #FFFFFF;
    border-style:       none;
}



/* Page Top Banner */
div.PageTop
{
    border-bottom:	1px solid #d0d0d0; 
    border-top:		1px solid #d0d0d0; 
    margin-bottom:	8px; 
    padding-top:	2px; 
    padding-bottom: 2px;
}



/* Overrides fixed width of pre sections in MsHs branding package */
pre
{
  width: auto;
}

/* Overrides margin on right of tables in MsHs branding package that causes content to overflow scroll */
DIV.OH_outerContent DIV#mainSection TABLE
{
	margin-right: auto;
}

/* Tab Strip */
.DxTab
{
    border-right: 1px #BBBBBB solid;
    border-top: 1px #BBBBBB solid;
    border-bottom: 1px #BBBBBB solid;
    background-color: #EFF5FF;
    float: left;
    height: 1.6em;
    cursor: pointer;
}
.DxTabLeftEnd
{
    width: 5px;
    float: left;
    height: 1.6em;
    background: url('../dotnetimages/DxTabLeftEnd.png') no-repeat;
    border-top: 1px transparent solid;
    border-bottom: 1px #BBBBBB solid;
}
.DxTabRightEnd
{
    width: 5px;
    float: left;
    height: 1.6em;
    background: url('../dotnetimages/DxTabRightEnd.png') no-repeat;
    margin-left: -1px;
    border-top: 1px transparent solid;
    border-bottom: 1px #BBBBBB solid;
}
.DxTabContentArea
{
    clear: both;
    min-height: 100px;
    border-left: 1px #BBBBBB solid;
    border-right: 1px #BBBBBB solid;
    border-bottom: 1px #BBBBBB solid;
    padding: 12px;
    border-top: 1px #BBBBBB solid;
}
.DxTab.DxTabActive
{
    background-color: white;
    border-bottom: 1px white solid;
}
.DxTabRightEnd.DxTabRightEndActive
{
    background: url('../dotnetimages/DxTabActiveRightEnd.png') no-repeat;
    height: 1.6em;
    border-bottom: 1px white solid;
}
.DxTabLeftEnd.DxTabLeftEndActive
{
    background: url('../dotnetimages/DxTabActiveLeftEnd.png') no-repeat;
    height: 1.6em;
    border-bottom: 1px white solid;
}
.DxTabStripContainer
{
    width: 100%;    
    height: 1.9em;
    position: relative;
    top: 3px;
    *top: 5px;
    overflow: hidden;
}
.DxTabCaption
{
    line-height: 1.84em;
    padding: 6px;
    font-size: 0.8em;
}

.DxTabCommands
{
	float:right;
	vertical-align:bottom;
	line-height: 24px;
}

/* Code Box Styles */
div.OH_outerContent div#mainBody th.codeboxtitlecell
{
    border-right:       none;
    padding-left:       13px;
    padding-top:        2px;
    padding-right:      2px;
    padding-bottom:     2px;
}

div.OH_outerContent div#mainBody th.codeboxactioncell
{
    border-left:        none;
}

div.OH_outerContent div#mainBody img.copyCodeImage
{
    margin-top:             -2px;
}

div.OH_outerContent div#mainBody table.syntaxtable
{
    width:              95%;
}

div.OH_outerContent div#mainBody table.syntaxtable td
{
    padding-top:        4px;
    padding-bottom:     6px;
}
/* End Code Box Styles */

/* Logo Image */
img.logoimage
{
    float: right;
    margin: 4px;
}
/* End Logo Image */