img#languageFilterImage
{
    border:     0;
    margin-left:    0;
    vertical-align: middle;
}

.languageFilter
{
    color:      #0000FF;
    cursor:     hand;
    text-decoration:underline;
    padding-bottom: 4;
    font-size:  8pt;
}

div#hslanguagemenu
{
    width:      auto;
}