<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation-Signed" version="3.4.6.0" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.9.1" targetFramework="net451" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net45" />
  <package id="Ninject" version="3.2.0.0" targetFramework="net451" />
  <package id="Ninject.MockingKernel" version="3.2.2.0" targetFramework="net451" />
  <package id="Ninject.MockingKernel.Moq" version="3.2.2.0" targetFramework="net451" />
</packages>