[
{
  System: "namespace",
  SystemFile: "Bifrost.JavaScript\\utils\\namespace.js",
  
  Descriptions: [
    {File: "Bifrost.JavaScript.Specs\\utils\\for_namespace\\when_declaring_namespace.js", Cases: [{}]},
    {File: "Bifrost.JavaScript.Specs\\utils\\for_namespace\\when_included.js", Cases: [{}]},
  ]
},
{
  System: "guid",
  SystemFile: "Bifrost.JavaScript\\utils\\guid.js",
  
  Descriptions: [
    {File: "Bifrost.JavaScript.Specs\\utils\\for_guid\\when_generating_guid.js", Cases: [{}]},
  ]
},
{
  System: "extend",
  SystemFile: "Bifrost.JavaScript\\utils\\extend.js",
  
  Descriptions: [
    {File: "Bifrost.JavaScript.Specs\\utils\\for_extend\\when_extending_an_empty_object.js", Cases: [{}]},
    {File: "Bifrost.JavaScript.Specs\\utils\\for_extend\\when_extending_an_object_with_same_content.js", Cases: [{}]},
    {File: "Bifrost.JavaScript.Specs\\utils\\for_extend\\when_extending_an_object_with_overlapping_content.js", Cases: [{}]}
]
},
{
  System: "CommandDescriptor",
  SystemFile: "Bifrost.JavaScript\\Commands\\CommandDescriptor.js",
  
  Descriptions: [
    {File: "Bifrost.JavaScript.Specs\\Commands\\for_CommandDescriptor\\when_creating_from_command.js", Cases: [{}]},
  ]
},
{
  System: "Command",
  SystemFile: "Bifrost.JavaScript\\Commands\\Command.js",
  
  Descriptions: [
    {File: "Bifrost.JavaScript.Specs\\Commands\\for_Command\\when_creating_with_configuration.js", Cases: [{}]},
  ]
},

]