[
{
  System: "utils",
  SystemFile: "Bifrost.JavaScript\\utils.js",
  
  Descriptions: [
    {File: "Bifrost.JavaScript.Specs\\for_utils\\when_included.js", Cases: [{}]},
    {File: "Bifrost.JavaScript.Specs\\for_utils\\when_generating_guid.js", Cases: [{}]},
    {File: "Bifrost.JavaScript.Specs\\for_utils\\when_using_namespace.js", Cases: [{}]},
    {File: "Bifrost.JavaScript.Specs\\for_utils\\when_extending_an_empty_object.js", Cases: [{}]},
    {File: "Bifrost.JavaScript.Specs\\for_utils\\when_extending_an_object_with_same_content.js", Cases: [{}]},
    {File: "Bifrost.JavaScript.Specs\\for_utils\\when_extending_an_object_with_overlapping_content.js", Cases: [{}]}
]
},
{
  System: "CommandDescriptor",
  SystemFile: "Bifrost.JavaScript\\Commands\\CommandDescriptor.js",
  
  Descriptions: [
    {File: "Bifrost.JavaScript.Specs\\Commands\\for_CommandDescriptor\\when_creating_from_command.js", Cases: [{}]},
  ]
},
{
  System: "Command",
  SystemFile: "Bifrost.JavaScript\\Commands\\Command.js",
  
  Descriptions: [
    {File: "Bifrost.JavaScript.Specs\\Commands\\for_Command\\when_creating_with_configuration.js", Cases: [{}]},
  ]
},

]