<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentValidation.MVC3-Signed" version="3.4.6.0" targetFramework="net45" />
  <package id="FluentValidation-Signed" version="3.4.6.0" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.9.1" targetFramework="net45" />
  <package id="Machine.Specifications.Should" version="0.7.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="3.0.50813.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="1.0.20105.408" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="1.0.20105.408" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net45" />
</packages>